.media
  %a.media-left.media-middle.pull-left{href: '/students/ain'}
    %img{src: "holder.js/64x64"}
  .media-body
    %h4.media-heading
      %a{href: '/students/ain'} Nurfarrah 'Ain Amran
    %p
      %i Universiti Teknologi Malaysia

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          2
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          Finding a job, get into interview, get a job, develop systems, get  experience, further study in business or management, build a company  

      %p
        %b What did you think about the program?
        %p
          Really beneficial for students, help students to experience a teamwork, experience to develop a real system, working with people, learning new thing (for me ruby, github, cloud9, heroku are new things)

      %p
        %b What are your aspirations?
        %p
          %p
            Develop at least one generic software that can facilitate many peoples such as myTeksi, develop many softwares that are beneficial to disable people, build my own company
          %p
            Build my own company with my siblings.
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Should have discipline, can work in a team, ready to sacrifice a few things, cam manage their time properly. However, this program gives them something more than what they done for this program. 