.media
  %a.media-left.media-middle.pull-left{href: '/students/azri'}
    %img{src: "holder.js/64x64"}
  .media-body
    %h4.media-heading 
      %a{href: '/students/azri'} Azri Mohd Khanil
    %p
      %i University Malaya

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          3
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          Looking for jobs and some work experience. After that I want to further my studies in artificial intelligence domain.

      %p
        %b What did you think about the program?
        %p
          It's a really good program I think.I learned lot of things that were not taught in college.I learn how to apply what I've learn in college(eg: programming) into real world problems.

      %p
        %b What are your aspirations?
        %p
          %p
            I look forward to enhance my knowledge in programming,web development and grab other relevant skills as well. My dream is to have hands-on experience in as many technical projects as I can post which I become well adept at the skill I have chosen to work upon.
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            I'll highly recommend it to those who are interested to join. The participants should have some good logic and programming skills as well as the ability to learn something new, fast.For that matter i think this program is suitable  for IT or entrepreneur enthusiast.
