.media
  %a.media-left.media-middle.pull-left{href: '/students/ben'}
    %img{src: "holder.js/64x64"}
  .media-body
    %h4.media-heading
      %a{href: '/students/ben'} Ben Liew Voon Bin
    %p
      %i UTEM

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          1
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          There is still 1 last academic study semester for me left, my aim is to continue building, continue learning, continue to hone my RoR skills. I also picked web app as my Final Year Project, which allow me to spend even more time on developing. And hopefully, by the end of the semester I will be good enough to be able to apply for Ruby on Rails developer. And the top of my list, is to intern or even better land a job in Silicon Valley, but at the end of the day, anywhere is alright as long as the tech scene in that city is active. So if you ask me what will I be doing right after I graduate will most probably try to land a job first in an active tech scene, and slowly learn and networking. As I am really interested in building my very own startup. 

      %p
        %b What did you think about the program?
        %p
          First of all, I'm really grateful that I'm being chosen for this program. It sparks my passion in programming all over again. Getting into this program, is one of the best choice I made during my university life. Alright back to the program, so the first thing I want to mention is that I am really thankful of Mr.Kevin, for his patience and time. As you all know, the FastPR class is actually conducted through hangouts remotely. And when you do things remotely like this especially teaching a bunch of newbies, people tend to get frustrated and eventually just give up or stop or something, but Kevin was very very patience with us even when we fail to do what we instructed. Or even when he needs to repeat the same thing over and over again, to the same group of students. As for the learning program, I'll say that it helps a lot, it speed up our learning process as well as answer a lot of our question which might take us hours of googling and searching around.  

      %p
        %b What are your aspirations?
        %p
          %p
            I don't think I'll be able to say that I can save the world or something like that yet, but I do hope that one day to build a startup of my own that will eventually be part of everyone's life. 
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Since this program directs to University students, especially last year students, I would say, if you're really planning to get into the tech scene, this is one of the best program that kickstarts your career. In my opinion, having a skill like Ruby on Rails web development definitely better than having great CGPA, I highly recommend this program for those who are planning to join the tech scene, especially as a developer. 
