.media
  %a.media-left.media-middle.pull-left{href: '/students/breena'}
    %img{src: '/assets/profile_pics/breena.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading
      %a{href: '/students/breena'} Breena Theseira
    %p
      %i Asia Pacific University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          1 1/2
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          I would generally be on a lookout for experience - in terms of internships & jobs.

        %p
          I would mainly be looking for web development projects/jobs in general to brush up Ruby on Rails skills, if possible with flexible hours. 

        %p
          In the meantime, I would also be looking for jobs to work with experienced web development freelancers, and then gradually move towards freelancing in the future.
      %p
        %b What did you think about the program?
        %p
          I generally think that this program is super beneficial to any new programmers that has a basic background in software development. University students like me would find it enriching and an eye-opener especially towards job prospects in the future (I didn't know freelancing was another option aside from having corporate career).

        %p
          It was fun to meet new programmers and work together in a team to create an awesome solution that would benefit the people.

        %p
          Oh and I think that some basics about Javascripts should be included as well."
      %p
        %b What are your aspirations?
        %p
          %p
            I want to continue building stuff (code, preferably, but there might be other physical projects too) and travel the world at the same time. I'd want to live with simplicity; just like the main characters in the travelling show ""Two Greedy Italians""... link if haven't heard of them: https://www.youtube.com/watch?v=WvZ1w_oPvJk
          %p
            I would also want to be part of projects (not necessarily software-based) that improves the lives of humans better and the environment.
          %p
            I want to learn Japanese, Thai, Spanish and Portuguese as well; either because I have a particular interest in the language, or it's part of my heritage.
          %p
            Another aspiration I have is to experience university life overseas... but it's not really something that I would undertake super soon. One of those ""might do, but not set in stone""."
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            You need to make sure you can commit 3 months of your time into learning and building projects, or else, don't apply. Wait for the next intake. On the first day, come up with a simple website idea (can be static pages at first, but it would get complex as you go) and implement the lessons learnt there. 
          %p
            Start self-learning about Git. If you have only ever used Windows your whole life, start dual-booting your PC to have Linux. It's AWESOME (especially Ubuntu, but I've only had Ubuntu so far).""
          %p
            University students in the first or second year should give this program a shot. Also, students who have just graduated from school or are seeking courses in web development to learn latest/industry tools used by professionals. Lastly, anyone who has a deep deep desire to learn how webpages should be interested to join this program."