.media
  %a.media-left.media-middle.pull-left{href: '/students/deric'}
    %img{src: '/assets/profile_pics/deric.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading 
      %a{href: '/students/deric'} Deric Chong Rui Kin
    %p
      %i Asia Pacific University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          2
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          Start off small, working in a development team, developing different types of projects, web, standalone, etc. Work my way up to become a leader of the team perhaps. Finding a job in a decent company as it will boost my opportunities in the future.

      %p
        %b What did you think about the program?
        %p
          A very good experience throughout. Learned how development of project in the real world are like. A great program to enhance your current skills, expanding your knowledge in the IT field.  Meet new people and new friends.

      %p
        %b What are your aspirations?
        %p
          %p
            Being someone that people looks up to. Someone that maybe designed or built something that everyone will be using. Working in an environment with good pay, and doing things i love to do. 
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Attend everything. If possible dont miss any events that are held. You learn thing that you will no learn from the university. Prepare to work in a team and socialize with people there. You will get a new different exposure and its always fun to meet people with the same passion and interest as you. 