.media
  %a.media-left.media-middle.pull-left{href: '/students/grace'}
    %img{src: '/assets/profile_pics/GraceTee.png', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading
      %a{href: '/students/grace'} Grace Tee Hui En
    %p
      %i Asia Pacific University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          1 1/2
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          I would most probably be looking for a company job as a transition from university into the working field and gain experience.

        %p
          Once I feel confident or when there is an opportunity, I would take other freelancing jobs on the side. I would also very much like to be a part of a startup company.
      %p
        %b What did you think about the program?
        %p
          It was inspiring and an eye opener to know the work flow and process involved in developing a mobile application. It was an opportunity to make valuable connections. Moreover, the track was at a good pace where it challenged us but was not too overwhelming. 
      %p
        %b What are your aspirations?
        %p
          %p
            I would like to develop a application that would impact people and the environment.
          %p
            Travel across the world and code along side people from other cultures and background.
          %p
            Volunteer teaching disadvantaged people and inspire them to achieve more
          
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Definitely something you won't want to miss if you are able to commit your time. Expect it to be challenging but fun. I would think all final year students and even fresh graduates would be interested to join this program.