.media
  %a.media-left.media-middle.pull-left{href: '/students/imran'}
    %img{src: '/assets/profile_pics/imran.jpeg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading 
      %a{href: '/students/imran'} Mohamed Imran Bin Ismail
    %p
      %i University KL

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          N/A
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          At the moment I have received a couple of freelance jobs. But I'm not planning on stopping here. What I'm really looking forward to is a full-time position in a company that can really improve the skills that I've acquired from PFS.

      %p
        %b What did you think about the program?
        %p
          It was amazing, I get to learn neat stuff like team collaboration, TDD and the best part is learning how to function as team during the development phase. I get to actually utilize these skills immediately after learning it. It was exhaustingly fun!

      %p
        %b What are your aspirations?
        %p
          %p
            Starting up something good!
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Put your heart into it and you'll be rewarded two times fold!