.media
  %a.media-left.media-middle.pull-left{href: '/students/jeva'}
    %img{src: '/assets/profile_pics/jeva.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading 
      %a{href: '/students/jeva'} Jevaraajkumar A/L Selvarajah
    %p
      %i Multimedia University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          1
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          I am currently doing my internship with Hewlett Packard(HP) Cyberjaya in Technology & Operations Department.My next would be finding a permanent job in my studied course which is Information Technology Majoring in Software Engineering.I am interested in software development site especially web development.Therefore, I am looking forward to get a job related to those areas.

      %p
        %b What did you think about the program?
        %p
          I think this program is really awesome especially for final year students because this programs leads to a right path before they step into real working world. I have gained allot of knowledge and guidance throughout this program which would really benefit me in future.I hope this programs continues to create more young talented graduates.

      %p
        %b What are your aspirations?
        %p
          %p
            My aspirations would be a young successful IT professional and also be a Project Manager in future . I also would like to do my PhD one day soon if everything permits.
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            I would say to him to join this program as it is really good to gain more knowledge technically and also professionally. I would say its going to be a great program as it will a stepping stone for him/her future where all their skills will be brushed up. I also will advise to be more knowledgeable technically because this program would suit them perfectly. I would encourage final year student and also internship students o participate in this program to get more benefit from it. :) 