.media
  %a.media-left.media-middle.pull-left{href: '/students/leo'}
    %img{src: '/assets/profile_pics/leo.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading 
      %a{href: '/students/leo'} Leo Ng Zhi Yong
    %p
      %i Asia Pacific University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          2
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          Working in IT for several years at the very least. Look for opportunities to leave the country.

      %p
        %b What did you think about the program?
        %p
          Great exposure to a new language and being able to develop applications for an actual client.

      %p
        %b What are your aspirations?
        %p
          %p
            Nothing concrete for the time being.
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            They will need to learn how to become much more independent as a developer as compared to when they were in university.
