- start_time = Date.new(2015,1,10)
.media
  %a.media-left.media-middle.pull-left{href: '/students/marco'}
    %img{src: '/assets/profile_pics/Marco.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading
      %a{href: '/students/marco'} Marco Lim Choon Yun
    %p
      %i Asia Pacific University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          1
        
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          Work for a while, preferably startups, to gain more knowledge and strengthen my programming skills.

        %p
          Be part of a development team that build things that solve a real world problem, and enhances human life.

        %p
          Probably startup my own after a few years, or go freelance.
      %p
        %b What did you think about the program?
        %p
          It's good to be exposed to things that is up to date, and also understand how the real world project be like.

      %p
        %b What are your aspirations?
        %p
          %p
            Build apps that matter and solve real world problem.

          %p
            Travel and broaden my horizon.

          %p
            Try new sports like SKYDIVING!
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Get a Linux operating system (Ubuntu or Mint), dualboot or better yet ditch Windows because eventually you will end up using Linux in the future.

          %p
            Prepare for tons of awesomeness XD  