.media
  %a.media-left.media-middle.pull-left{href: '/students/mattheaw'}
    %img{src: '/assets/profile_pics/mattheaw.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading 
      %a{href: '/students/mattheaw'} Matheaw Liew Zhi Ying
    %p
      %i Asia Pacific University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          1
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          After I graduate, I will work in an awesome company and working on some interesting software project. I will try to expand my network in the industry to build my connection with the industry people. I will try to apply for the start-up company as I can learn more Knowledge there. After working in the company for 1 - 2 years, if there are no any further personal development and opportunity, I will switch to a large scale company to further extend my career. When I gain enough experience, I will try to plan my start-up and working on it if the start-up plan is feasible.

      %p
        %b What did you think about the program?
        %p
          The program is great but it still need some improvement such as team building and team management. I learn a lot of new knowledge through this program. New programming language Ruby on rails, push the app live on heroku, github to maintain the code integrity. In skillcounter team, I had develop the model, view and controller for the application. I also know how to wirte rspec test cases to test each of the function. Besides that I also create the association between the user and event. The mailer and payment gateway in skillcounter is something that very useful for my future application development experience.

      %p
        %b What are your aspirations?
        %p
          %p
            On the age of 30, I will to start a new start-up company of my own. If it was too hard for me, I will find few friends to develop an application that has market value to gain the reputation first. I will work as a part time freelancer also to increase my skill and knowledge.
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            If you want to join this program, you better be serious, else you won't be able to learning anything here. Just joking, by joining this program, you will learn a lot of new things that do not teach in the college. You won't need to prepare anything but yourself. You must contribute to the team when you start the program. It will be a tough project if you didn't contribute to the team. Try to participate, contribute as much as you can then you can experience how awesome this program was.
