.media
  %a.media-left.media-middle.pull-left{href: '/students/nadiah'}
    %img{src: "holder.js/64x64"}
  .media-body
    %h4.media-heading 
      %a{href: '/students/nadiah'} Fatin Nadiah binti Mat Ali
    %p
      %i Multimedia University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p


      %p
        %b What did you think about the program?
        %p


      %p
        %b What are your aspirations?
        %p
          %p

      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p

