.media
  %a.media-left.media-middle.pull-left{href: '/students/prasanth'}
    %img{src: '/assets/profile_pics/prasanth.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading 
      %a{href: '/students/prasanth'} Prasanth Kasi Rajan
    %p
      %i Multimedia University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          1
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          Joining a company that best suits my qualification, pick up some new skills and progress further.

      %p
        %b What did you think about the program?
        %p
          Awesome program, awesome instructor. I owe you guys big time.

      %p
        %b What are your aspirations?
        %p
          %p
            Start a startup soon. 
          %p
            Build a company.
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Get ready for a whole lot fun with codes.
            Heads up, learn the basics of Ruby before you begin.