.media
  %a.media-left.media-middle.pull-left{href: '/students/rayson'}
    %img{src: '/assets/profile_pics/rayson.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading
      %a{href: '/students/rayson'} Leong Chin Poh
    %p
      %i University Malaya

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          Graduated Already
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          Great! Will start some awesome work and studies!!

      %p
        %b What did you think about the program?
        %p
          Perfect! Great tutors great participants, the experience just awesome. =D

      %p
        %b What are your aspirations?
        %p
          %p
            Assist in any helping mankind or revolution industry work
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Prepare yourself with the knowledge of development life cycle, basic programming knowledge will do, and most importantly, be awesome! =D