.media
  %a.media-left.media-middle.pull-left{href: '/students/shazwan'}
    %img{src: '/assets/profile_pics/shazwan.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading
      %a{href: '/students/shazwan'} Nor Shazwan Shah Bin Nor Hisham Shah
    %p
      %i Universiti Teknologi Malaysia

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          3
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          After i graduate i'm going to work for private company, gathering as much experience and knowledge as i can. But at the same time, i will be working on a project that i am planning to launch. After that, i am planning to start my own company with trusted friends. 

      %p
        %b What did you think about the program?
        %p
          I've learnt a lot about tools that can be used when developing in a team. My instructor is really helpful and knowledgeable.

      %p
        %b What are your aspirations?
        %p
          %p
            I want to build something that everybody can and will want to use everyday in their life.
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            It is worth every bit of your time if you are willing to commit to it. Be curious and explore stuff that is not taught in the class.