.media
  %a.media-left.media-middle.pull-left{href: '/students/tahfiz'}
    %img{src: "holder.js/64x64"}
  .media-body
    %h4.media-heading
      %a{href: '/students/tahfiz'} Ahmad Tahfiz bin Ahmad Fauzi
    %p
      %i Universiti Teknologi Malaysia

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          3
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?
        
        %p
          Become a software developer/programmer in a cool and fun company

      %p
        %b What did you think about the program?
        %p
          It is enjoyable to learn and good to know working environment of a programmer

      %p
        %b What are your aspirations?
        %p
          %p
            Try your best in life and pray for better
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            It is really good learning process for students before graduates and good to know a working environment to real client