.media
  %a.media-left.media-middle.pull-left{href: '/students/tqah'}
    %img{src: "holder.js/64x64"}
  .media-body
    %h4.media-heading
      %a{href: '/students/tqah'} Nur Atiqah Binti Awalludin
    %p
      %i Universiti Teknologi Malaysia

      .extended
        %p
          %b How many semesters do you have before you graduate?
          %p
            3
        %p
          %b Whats next, what do you see yourself doing with your life after you graduate?
          
          %p
            Continue my studies by taking up MBA, then apply for a business and technology consultant spot at GOOGLE or any other up and coming major tech company. Become the first woman CEO of a technology company in Malaysia if the coveted role still exists. Teach people along the way.

        %p
          %b What did you think about the program?
          %p
            The program is great. It helps us learn new tricks in the never ending world of programming. I just wish if it didn't clash with our uni schedule and maybe be done during semester break. Then, I could have focused on the project more.

        %p
          %b What are your aspirations?
          %p
            %p
              Inspire at least one person to never give up on their dreams.
        %p
          %b What would you say to someone that is interested to join this program
          %p
            %p
              Be ready for a huge commitment. I wasn't and I know how that ended. 