.media
  %a.media-left.media-middle.pull-left{href: '/students/wilson'}
    %img{src: "holder.js/64x64"}
  .media-body
    %h4.media-heading 
      %a{href: '/students/wilson'} Lee Wei Shean (Wilson) 
    %p
      %i Asia Pacific University

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          2
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          Work until end of 2015 and go for a vacation, Jan 2016 start work for several(3-5) years in IT area in KL or Malacca, after that  planing to do partnership with group of my friend to have a company related to IT or other plan which open a cafe with another friend. 

      %p
        %b What did you think about the program?
        %p
          Overall  good, but due to technique issue and my bad time management, i 
          didn't manage to learn all of the topics, but I did get some of the concepts. 

      %p
        %b What are your aspirations?
        %p
          %p
            Travel and explore the world.
          %p
            Personally, I intend to build a midi editor software that have Chinese Orchestra instruments loaded in. 
      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Someone who has passion with programming, love new stuff, and to whom who like to be a freelancer.
