.media
  %a.media-left.media-middle.pull-left{href: '/students/zalkhairil'}
    %img{src: '/assets/profile_pics/zalkhairil.jpg', width: '62px', height: '62px'}
  .media-body
    %h4.media-heading 
      %a{href: '/students/zalkhairil'} Zalkhairil Badri bin Zakaria
    %p
      %i University KL

    .extended
      %p
        %b How many semesters do you have before you graduate?
        %p
          2
          
      %p
        %b Whats next, what do you see yourself doing with your life after you graduate?

        %p
          Starting a startup rather than looking for job

      %p
        %b What did you think about the program?
        %p
          Awesome

      %p
        %b What are your aspirations?
        %p
          %p
            Become indie game developer for pc and succeed as one

      %p
        %b What would you say to someone that is interested to join this program
        %p
          %p
            Definitely recommend, awesome learning program,friendly peoples, people who enjoy programming

