.container
  .row
    .col-xs-12.col-md-8
      =image_tag('gemcutters-headline.png', class: "img-responsive")
      %br
      %br
      %p.lead
        Well here is your chance, if you have at least 3 years of experience building web applications on the rails framework we want you to come over for an extended holiday and teach a couple of students how to be awesome web developers. We pay you for this and you get to spend your free time exploring the many wonders of Asia (Malaysia is a 2 hour flight from everything you’ll want to see in this region) 

      %p.lead
        This is a 4 month gig and you will need to be based out of our funsome office in the suburbs of Kuala Lumpur during the first half of this time. After which you are welcome to work remotely as long as you check-in every other day with the students and us. 

      %p.lead
        If this sounds like something that would rock your socks we want to hear from you, drop us a lovely long email and tell us why you are perfect for this job work@codemalaysia.com
  =render 'form', request_from: 'Collaborate Form', :title => "Collaborate with Us"