.row
  .col-xs-12.col-md-8
    %h1
      Need something built?
    %p.lead
      We want to build your product. But before we that we need to decide if its awesome enough, so you need to tell us what makes your startup idea awesome, if you are having trouble explaining it don’t worry here are some simple ideas on questions to answer - the answers will help us understand what is it that you do. 

    %ul.lead
      %li
        Who will pay you money for this product or service?
      %li
        How much money will they pay?
      %li
        Have they said they would or are you just guessing?
      %li
        How would your product help these people that have paid you money in their daily lives?
      %li
        Is anyone doing what you are doing and if they are what makes what you do special?
      %li
        Finally do you have any special juju(magic) that you want to tell us about i.e. you have a blog that millions of people subscribe to or have a dragon in your backyard that will roast your competitors when things get dicey… that kind of thing

=render 'form', request_from: 'Startup Form', :title => "I want an MVP"



