.container#footer
  .row.footer
    .col-xs-12.col-md-4.col-lg-4.col-sm-4
      %h4 Locate Us

      %p
        %b Makespace
        %br
        Lot 1-50, SS-Two Mall
        %br
        Jalan SS 2/72, Seksyen 19
        %br
        Petaling Jaya Selangor Malaysia
        %br
        %br
        %a{href: '/location'} Click for Location Map
        %br
        %br
        +60 3 7931 9198
        %br
        %br
        %a{href: contact_form_path(:collaborate)} Work with us
        %br
        Hello
        %a{href: 'http://tandemic.com'} tandemic
        %br
        Supported by
        %a{href: 'http://mymagic.com.my'} MaGIC


    .col-xs-12.col-md-8.col-lg-8.col-sm-8
      %h4 About Us

      %p Codemalaysia is a community experiment managed by the guys that run makespace.my a resource and community gathering space for people who make stuff (often pretty cool stuff we might add). We figured that code is a great way to create, you learn some basics and then you start, continuing your learning as you make you get better and better along the way. Its pretty amazing what you can accomplish with a little bit of skill when it comes to computer programming.

      %p We won't get into the other wonderful benefits such as teaching you to think and helping you better understand the landscape of the technical world we live in - for now lets just focus on the fact that with a little code you can do a lot of amazing things.