.container
  .row.center
    .col-xs-12.page-header
      %h2 Become Awesome with Us

      %br

      %p.text-centered
        = link_to 'Sign Up Now!', 'https://docs.google.com/forms/d/1pXvc8U4UJXiE4PCAJhqLiJdK9rX3WTR-Sm0a54tLtSY/viewform', class: "btn btn-success btn-lg"

      =image_tag('pfs-poster.jpg', class: "img-responsive")