.container
  .row.center
    .col-xs-12.page-header
      %h2 How this is going to work

      .container.program-schedule-description.text-left
        .row
          .col-xs-12.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            %p.lead
              Participants will be working with us to build a real-world web application on a part-time basis for 
              %strong.text-danger
                12 weeks
              , where each week participants will receive 
              %strong.text-primary
                8 hours 
              of hands on training (broken up into 
              %strong.text-success
                two sessions 
              of 
              %strong.text-warning
                4 hours each
              ) at our training facility at 
              %strong.text-info
                Makespace in SS2. 
            %p
              Working in teams lead by a senior developer, participants will be equipped with industry standard tools and frameworks to design, develop and deploy a production ready app.
            %p
              We have specially designed this program to account for the busy schedule of students in University, thus participants may simply choose the most convenient slot that fits their schedule. A typical week is divided into 12 slots (2 slots a day - morning and afternoon, Monday to Saturday) of 4 hours each. 

  .row.center
    .col-xs-12.page-header
      %h2 Available Slots
      .container.schedule.text-left
        .row

          - days = %w(Monday Tuesday Wednesday Thursday Friday Saturday)
          - days.each do |day|

            .schedule-class.col-xs-6.col-lg-3.col-sm-4.col-md-3
              %ul.list-group
                %li.list-group-item.list-group-item-success
                  %span.glyphicon.glyphicon-calendar
                  = day
                %li.list-group-item
                  %sup
                    9.00 am - 1.00 pm
                  %br
                  Morning
                %li.list-group-item 
                  %sup
                    2.00 pm - 6.00 pm
                  %br
                  Afternoon
                  - if day == 'Saturday'
                    (Compulsory)
                %li.list-group-item
                  %sup
                    8.00 pm - 12.00 am
                  %br
                  Night
          .schedule-class.col-xs-6.col-lg-3.col-sm-4.col-md-3
            %ul.list-group
              %li.list-group-item.list-group-item-success
                %span.glyphicon.glyphicon-calendar
                Sunday
              %li.list-group-item
                %sup
                  9.00 am - 1.00 pm
                %br
                Morning
              %li.list-group-item 
                %sup
                  2.00 pm - 6.00 pm
                %br
                Afternoon               

   
 
  .row.center
    .col-xs-12.page-header
      %h2 What we'll be building (and learning)
      / <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=rt1q6ca6olmm59vrechong8l68%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=Asia%2FKuala_Lumpur" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

      .container.schedule.text-left
        .row
          .col-xs-12
            %h4 Week 1 (29th September — 3rd October 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site
              %li.list-group-item Cloud 9 setup
              %li.list-group-item Rails command line helper
              %li.list-group-item Rails routing
              %li.list-group-item Rails Model/View/Vontroller
              %li.list-group-item Static content with routes and views
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Creation of static content pages
              %li.list-group-item Utilise routes, controllers, and views
              %li.list-group-item Application design &amp; specification
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Add user stories on Trello
              %li.list-group-item Generate User Model/View/Controller
              %li.list-group-item Model validation
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Introduction to RSpec
              %li.list-group-item Unit tests for user profile model
              %li.list-group-item Add user profile model, view, and controller
        .row
          .col-xs-12
            %h4 Week 2 (5th October — 11th October 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Source Code Management with Git
              %li.list-group-item Web app deployment with Heroku
              %li.list-group-item Partials in Rails
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Separation of app layout into partials
              %li.list-group-item Deployment of modified code to Heroku
              %li.list-group-item Use of Git to publish and deploy code
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Sessions
              %li.list-group-item User Sign-in / Sign-up / Password reset
              %li.list-group-item Filters / Scopes (search form / listing)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Dynamic navigation
              %li.list-group-item Unit Testing for sign in
              %li.list-group-item Unit Testing for sign-up
              %li.list-group-item Unit Testing for filters/scopes

        .row
          .col-xs-12
            %h4 Week 3 (October 12th — 18th October 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Mailers
              %li.list-group-item Set up and integrate SendGrid
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Complete mailers for:
              %li.list-group-item Sign-up
              %li.list-group-item Password reset
              %li.list-group-item Generic notifications
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Bootstrap
              %li.list-group-item Grid layout
              %li.list-group-item Components
              %li.list-group-item Customising Bootstrap
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Implementation of Bootstrap

        .row
          .col-xs-12
            %h4 Week 4 (October 19th — 25th October 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Nested forms
              %li.list-group-item Advanced partials
              %li.list-group-item Database associations
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Search Profiles (multi-table)
              %li.list-group-item Unit Testing for DB associations
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Roles
              %li.list-group-item Advanced RSpec
              %li.list-group-item Advanced debugging techniques
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Unit Testing for API/external services
              %li.list-group-item Unit Testing for more complex validations
              %li.list-group-item Unit Testing for roles
              %li.list-group-item Implementation of Roles to separate users types
              %li.list-group-item Access Control

        .row
          .col-xs-12
            %h4 Week 5 (October 26th — November 1st 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Geolocation
              %li.list-group-item Google Maps (embed)
              %li.list-group-item Google Maps (Reverse geo-coding)
              %li.list-group-item Latitude/Longitude handling
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Implementation of Geolocation
              %li.list-group-item Implementation of Google Maps
              %li.list-group-item Implementation of Lat/Long handling
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Single Table Inheritance (STI)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Usage of STI
              %li.list-group-item Completion of Google Maps / Geolocation integration

        .row
          .col-xs-12
            %h4 Week 6 (November 2nd — November 8th 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item File attachments
              %li.list-group-item Image thumbnails
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item File attachments and Image thumbnailing integration
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item PDF Generation with Prawn
              %li.list-group-item Mailer attachments
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Integration of PDF generation
              %li.list-group-item Mailers with PDFs attached

        .row
          .col-xs-12
            %h4 Week 7 (November 9th — November 15th 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Payment Gateway Integration (Part 1)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Implementation of Payment Gateway (Part 1)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Payment Gateway Integration (Part 2)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-home
                Remote
              %li.list-group-item Implementation of Payment Gateway (Part 2)

        .row
          .col-xs-12
            %h4 Week 8 (November 16th — November 22nd 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site 
              %li.list-group-item Private alpha
              %li.list-group-item Polishing of core functionality

        .row
          .col-xs-12
            %h4 Week 9 (November 23rd — November 29th 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                On-site
              %li.list-group-item UX / UI Polish and Clean-Up

        .row
          .col-xs-12
            %h4 Week 10-12 (November 30th — December 31st 2014)
          .schedule-class.col-xs-12.col-lg-3.col-sm-10.col-md-8
            %ul.list-group
              %li.list-group-item.active
                %span.glyphicon.glyphicon-user
                Remote
              %li.list-group-item Beta Testing
              %li.list-group-item v1.0 Deployed