// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 80px;
}

.center {
  text-align: center;
}

.container.banner {
  background: #C23B28;
  width: 100%;
  // margin-top: -20px;
  padding-bottom: 20px;
  .row {
    .jumbotron {
      max-width: 1170px;
      margin: 0 auto;
      float: none;
      padding: 25px 15px 40px 15px;
      .btn-cta {
        margin-top: 10px;
      }

      .promovideo {
        vertical-align: middle;
      }
    }
  }
}

.container#footer {
  background: #3c3c3c;
  width: 100%;
  .row.footer {
    max-width: 1170px;
    margin: 0 auto;
    float: none;
    padding: 25px 0;
  }
}

.learnmore {
  width: 100%;
  background: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 35px;
}

.jumbotron.banner {
  background: #C23B28;
  color: white;
  margin-top: -20px;
}

.navbar-inverse {
  border-radius: 0;
  border-top: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.magic {
  min-height: 30px;
  height: 30px;
  background: #3c3c3c;
  width: 100%;
  .center {
    font-size: 12px;
    color: silver;
    padding: 5px 0 0 0;
    color: white;
  }
}

.footer {
  background: #3c3c3c;
  color: lightgrey;
  padding: 20px 18px;

  a {
    color: white;
    text-decoration: underline;
  }
}

// .learnmore {
//   margin: -30px 0 15px 0;
//   padding: 20px;
//   background: #f2f2f2;
//   h2 {
//     margin: 10px 0 15px 0;
//   }
// }

.descriptions, .growth {
  margin-bottom: 15px;

  h4 {
    font-size: 1.5em;
    vertical-align: middle;
  }

  .glyphicon {
    vertical-align: bottom;
    margin-right: 10px;
    font-size: 1.4em;
  }
}

@media(min-width:400px) {
  .descriptions {
    .col-xs-12 {
      height: auto;

      .btn-primary {
        position: relative;
        top: auto;
      }
    }
    margin-bottom: auto;
  }
}

@media(min-width:768px) {

  .descriptions {
    .col-xs-12 {
      height: 225px;

      .btn-primary {
        position: absolute;
        top: 340px;
      }
    }
    margin-bottom: 100px;
  }
}

@media(min-width:992px) {

  .descriptions {
    .col-xs-12 {
      height: 225px;

      .btn-primary {
        position: absolute;
        top: 260px;
      }
    }
  }
}

@media(min-width:1200px) {
  .descriptions {
    .col-xs-12 {
      .btn-primary {
        position: absolute;
        top: 220px;
      }
    }
  }
}

.modal-body {
  padding: 0;
}