%nav.navbar.navbar-default.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'CodeMalaysia', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li= link_to 'Learn More', root_path + '#learnmore'
        %li= link_to 'Collaborate', contact_form_path(form_page: :collaborate)
        %li= link_to 'Contact Us', contact_form_path(form_page: :general)