%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'CodeMalaysia', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li= link_to 'Work with Us', root_path
        %li= link_to 'Sign Up', root_path
        %li= link_to 'Contact Us', root_path